.preload{
	width: 1px;
	height: 1px;
	display: none;
}
.img-center{
	margin: auto;
}
.abs-center{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
article{
	font-family: "Roboto";
	font-weight: 400;
	color: #fff;
}
#portada{
	background-image: url("../images/portada/Fondo.jpg");
	background-position: center;
	background-size: cover;
	position: relative;
}
	#portada > .container{
		margin-top: 40px;
	}
	#portada > img{
		padding-top: 70px;
	}
	#portada > p{
		padding-top: 20px;
		color: #fff;
		text-align: center;
		font-size: 16px;
		width: 80%;
		max-width: 625px;
		margin: auto;
	}
	.uniformes{
		position: relative;
		height: 100%;
		margin-bottom: 15px;
	}
	.uniformes > a > img {
	    position: relative;
	    max-width: 90%;
	    cursor: pointer;
	    width: 50%;
	}
.landing{
	padding-top: 65px;
	padding-bottom: 65px;
}
	.landing-txt {
	    background-color: #f1f1f3;
	    padding: 10% 5%;
	    color: #000;
	    text-align: center;
	    font-size: 15px;
	    margin-top: 10px;
	    margin-bottom: 10px;
	}
	.landing-thumbs {
	    margin-bottom: 30px;
	}
	.landing-thumbs > div {
	    padding: 3px;
	    position: relative;
	}
	.landing-thumbs > div > img{
		max-height: 126px;
		cursor: zoom-in;
		z-index: 1;
	}
	.landing-thumbs > div:hover > img,
	.landing-thumbs > div:focus > img{
		transform: scale(1.5);
		z-index: 3;
	}
@media screen and (min-width: 450px){
	.uniformes > a > img {
		width: 25%
	}
}
@media screen and (min-width: 768px){
	#portada > .container{
		margin-top: 0px;
	}
		.uniformes{
			position: relative;
			height: 100%;
			margin-bottom: 0px;
		}
		.uniformes > a > img{
			position: absolute;
			bottom: 25%;	
			width: 100%;
		}
	.landing-txt {
	    padding: 70px 100px;
	}
}
@media screen and (min-width: 992px){
	.uniformes > a > img{
		bottom: 20%;
	}
}