.img-center{
	margin: auto;
}
.abs-center{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
article{
	font-family: "Roboto";
	font-weight: 400;
	color: #fff;
}
#portada{
	background-image: url("../images/portada/Fondo.jpg");
	background-position: center;
	background-size: cover;
	position: relative;
}
	#portada > .container{
		margin-top: 40px;
	}
	#portada > img{
		padding-top: 70px;
	}
	#portada > p{
		padding-top: 20px;
		color: #fff;
		text-align: center;
		font-size: 16px;
		width: 80%;
		max-width: 625px;
		margin: auto;
	}
	.uniformes{
		position: relative;
		height: 100%;
		margin-bottom: 15px;
	}
	.uniformes > img {
	    position: relative;
	    max-width: 90%;
	    cursor: pointer;
	    width: 50%;
	}
@media screen and (min-width: 768px){
	#portada > .container{
		margin-top: 0px;
	}
		.uniformes{
			position: relative;
			height: 100%;
			margin-bottom: 0px;
		}
		.uniformes > img{
			position: absolute;
			bottom: 25%;	

		}
}
@media screen and (min-width: 992px){
	.uniformes > img{
		bottom: 20%;
	}
}